{% extends "base.html" %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'doctors/css/schedule_opener.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/doctors_registration.css' %}">

{% endblock 'head' %}


{% block 'body' %}


    <div class="container">

        <br><br>

        <div class="row">
            <div class="col-md-8">

                <img src="{{doc_pic.profile_picture.url}}"  class="foto-perfil" alt="">
                <label style="margin-left: 30px; font-size: 25px" class="p-bold">Olá, <span class="color-dark">{{request.user.username}}</span></label>
                
                <br>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <br>
                <p style="font-size: 25px" class="p-bold">Abrir horários para consultas</p>
                <hr>
                <form action="{% url 'schedule_opener' %}" method="POST">{% csrf_token %}
                    <label for="">Escolher data:</label>
                    <input type="datetime-local" name="date" class="form-control shadow-main-color">
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-success btn-dark-color">
                </form>
            </div>
            <div class="col-md-4">
                <p style="font-size: 25px" class="p-bold">Seus horários:</p>
                <ul class="list-group">
                    {% for date in open_dates %}
                        <li class="list-group-item">{{date}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock 'body' %}