{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'doctors/css/schedule_opener.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
    <link rel="stylesheet" href="{% static 'doctors/css/doctors_registration.css' %}">
    <link rel="stylesheet" href="{% static 'pacients/css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock 'head' %}

{% block 'title' %}

Home Page

{% endblock 'title' %}

{% block 'body' %}

<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <p style="font-size: 25px" class="p-bold">Olá, <span class="color-dark">{{request.user.username}}.</span></p>
            <form action="{% url 'home' %}" post="GET">{% csrf_token %}
                <input type="text" class="form-control shadow-main-color" placeholder="Busque por profissionais ..." name="doctor_name">
                <br>

                <div class="especialidades">
                    {% for specialty in specialties %}
                    <input type="checkbox" name="especialidades" value="{{specialty.id}}">
                    <span class="badge bg-secondary">
                        {{specialty.specialty}}
                    </span>
                    {% endfor %}

                </div>
                <br>
                <input type="submit" value="filtrar" class="btn btn-success btn-dark-color">
            </form>
            <hr>

            <div class="list-medicos">
                
                {% for doctor in doctors %}
                <div class="card-medicos shadow-main-color">
                    <div class="row">
                        <div class="col-md-3"><img src="{{doctor.profile_picture.url}}" class="foto-perfil-card" alt=""></div>
                        <div class="col-md">
                            <p style="font-size: 20px" class="p-bold"><i class="bi bi-patch-check-fill icon-main">Dr(a). {{doctor.name}}</i></p>
                            <p>{{doctor.description}}</p>
                        </div>
                    </div>  
                    <p><i class="bi bi-map icon-main"> Rua/Av. {{doctor.street}}, {{doctor.number}} - {{doctor.region}}</i>&nbsp&nbsp</p>

                    {% if doctor.available %}
                    <p><i class="bi bi-calendar2-week icon-main"> Proxima data: {{doctor.available}}</i>&nbsp&nbsp
                    {% else %}
                        Aguarde até que uma data esteja disponível.
                    {% endif %}
                        
                    <a href="#" class="btn btn-success btn-dark-color">Agendar</a>
                </div>
                <br>
                {% endfor %}


            </div>

        </div>
        <div class="col-md-4">
            <p style="font-size: 25px" class="p-bold">Lembretes</p>

            <p class="bg-main-lembrete">
                <span class="p-bold"><i class="bi bi-exclamation-triangle-fill icon-differential"></i>&nbsp&nbsp Consulta com Pedro Sampario em 7 dias.</span>
            </p>


            
        </div>
    </div>
</div>

{% endblock 'body' %}